services:

  zipkin:
    image: openzipkin/zipkin:2.24
    container_name: zipkin
    ports:
      - 9411:9411

  prometheus:
    image: prom/prometheus:v2.46.0
    container_name: prometheus
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --enable-feature=native-histograms
      - --enable-feature=remote-write-receiver
      - --enable-feature=exemplar-storage
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090

  grafana:
    image: grafana/grafana-oss:10.1.0
    container_name: grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - 3000:3000
