global:
  scrape_interval: 1s
  evaluation_interval: 1s
scrape_configs:
  - job_name: service-a
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - host.docker.internal:9001
        labels:
          application: service-a
  - job_name: service-b
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - host.docker.internal:9002
        labels:
          application: service-b